.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 9em;
}

header{
    margin-bottom: 4em;
}

.columns {
    padding: 1em;
}

.post {
    margin-top: 2em;
}

.navbar a {
    margin-right: 1em;
}
